* {
  margin: 0;
  padding: 0;
} 
main {
  padding: 24px;
}

:root {
  font-family: "Alice", serif;
  line-height: 150%;
  color:#573a37;
}

body {
  background-image: url(assets/bg-image.jpg);
  background-size: cover;
}

#abount p + p {
  margin-top: 12px;
}

section + section {
  margin-top: 24px;
}

#page {
  width: 800px;
  margin: 48px auto 28px;
  border-radius: 24px;
  background-color: #f0e8c2;
  padding: 24px;
  box-sizing: border-box;
}

img {
  border-radius: 16px;
 
}

h1 {
  line-height: 140%;
  font-size: 40px;
  
}

h2 {
  font-size: 24px;
}

ul {
  margin-left: 24px;
}

h1,h2 {
  color: black;
  margin-bottom: 4px;
  line-height: 150%;
}

footer {
  color: #573a37;
  padding-bottom: 48px;
  text-align: center;
}

footer img {
  vertical-align: middle;
}